*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  width: 1140px;
  gap: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  display: block;
  padding: 0 3px 0 3px;
  width: 100%;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-title {
  font-family: Oswald, "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 100%;

  margin: 0 0 6px 0;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  margin-top: 6px;
}

.result {
  display: flex;
  flex-direction: column;
  width: 710px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  position: relative;
  width: 710px;
  height: 386px;
  margin-bottom: 16px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.button {
  border: 1px solid #fff;
  color: #fff;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}
.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  width: 100%;
  height: 34px;
}

.search-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  background-color: transparent;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label-text {
  font-size: 18px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.content__accent {
  color: #545050;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding-right: 3px;
  padding-left: 3px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

.search-form__textfield {
  display: block;
  width: 225px;
  height: 27px;
  padding: 2px 0;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;

  font-size: 18px;
  line-height: 1.2;
  outline: none;
  appearance: none;
  text-overflow: ellipsis;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  opacity: 1;
}

.search-form__textfield:focus {
  outline: none;
}
.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
